.parentButton{
    position: relative;
}

.boxOption{
    width: 75px;
    height: 110px;
    position: absolute;
    top: 15px;
    right: 5px;
    background-color: white;
    border-radius: 15px;
    /* border: black solid 1px; */
    box-shadow: 0px 10px 20px -10px black;
    z-index: 2;
    display: flex;
    flex-direction: column;    
}